<h2>Users</h2>
<table class="table">
	<thead>
		<tr>
			<th>image</th>
			<th>name</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	<% @users.each do |user| %>
		<tr>
			<td> <%= link_to book.title,book_path(book.id) %> </td>
			<td> <%= book.opinion %> </td>
			<td> <%= book_path(book.id)
		</tr>
	<% end %>
</table>