<div>
	<div>
		<h1>welcome to<br>Bookers !!</h1>
		<p>In Bookers,you can share and exchange your opinions , inpressions , and emotions about varioius books!</p>
		<div>
			<div>
				<a class="sign_in" href="/users/sign_in">Log in</a>
				<br>
				<a class="sign_up" href="/users/sign_up">Sign Up</a>
			</div>
		</div>
	</div>
</div>

